[submodule "lib/get_next_line"]
	path = lib/get_next_line
	url = https://github.com/funa-yuy/42_get_next_line.git
[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/funa-yuy/42_libft.git
